.wrapper_with_padding
	#note_show
		%h1.title= @note.title
		%p= format(@note.content)

		.buttons
			= link_to "Edit", edit_notenote_path, class: "button"
			= link_to "Delete", notenote_path, method: :delete, data: { confirm: "Are you sure?" }, class: "button"